<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SubscribeIP" value="192.168.91.177" />
    <add key="SubscribePort" value="8306" />
    <add key="SubscribeSecurityCode" value="9888" />
    <add key="MdUser" value="9888" />
    <add key="MdPassword" value="123456" />
  </appSettings>
</configuration>